.navbar {
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

#mainPage {
    background: url(../Images/MainBG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bgtext {
    z-index: 100;
    color: white;
    font-weight: bold;
    margin-top: 180px
}

.navbar-nav>li>a {
    padding-bottom: 12px;
}

#mainbody {
    zoom: 90%;
    background: url(../Images/MainBG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footerpanel {
    background-color: rgba(0, 0, 0, 0.6);
}

.bgbutton {
    margin-top: 50px;
    width: 100px;
    height: 52px
}

.w3-animate-left {
    position: relative;
    -webkit-animation: animateleft 1.0s !important;
    animation: animateleft 1.0s !important
}

#serviceButton {
    position: fixed;
    left: 0px;
    bottom: 100px;
    z-index: 999;
    display: none;
}

#serviceButton button {
    background-color: rgba(0, 0, 0, 0.9);
}

#TutorListAll {
    margin-top: 0px;
    margin-bottom: 50px
}

#title {
    margin-top: 20px;
    margin-bottom: 20px
}

#services {
    border: solid;
    border-width: thin;
    bottom: 100px !important;
    background-color: rgba(0, 0, 0, 0.9);
}

#services img {
    width: 80px;
    height: 80px;
}

#services .help {
    padding-right: 10px;
    padding-top: 10px
}

.w3-sidenav a {
    transition: none !important;
}

.Server-Panel {
    position: relative;
    -webkit-animation: animateleft 2.4s;
    animation: animateleft 2.4s;
    width: 200px;
    height: 110px;
    bottom: 100px;
}

.Server-PanelTutorList {
    position: relative;
    -webkit-animation: animateleft 2.4s;
    animation: animateleft 2.4s;
    width: 200px;
    height: 110px;
    bottom: 50px;
}

.popover {
    width: 110px;
    text-align: center !important;
    opacity: 0;
    -webkit-transition: opacity 1.05s linear;
    -o-transition: opacity 1.05s linear;
    transition: opacity 1.05s linear;
}

.inactiveLink {
    pointer-events: none !important;
    cursor: default !important;
}

.w3-tangerine {
    font-family: 'Tangerine', serif;
}

.mySlides {
    display: none
}

.w3-left,
.w3-right,
.w3-tag {
    cursor: pointer
}

.w3-tag {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px
}

.w3-lobster {
    font-family: "Lobster", serif;
}

;
.btn-social {
    width: 100px;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-social:hover {
    transform: scale(2.8, 2.8);
    opacity: 1;
}

.w3-card-12 {
    margin-bottom: 30px;
    height: 200px;
    border-width: 3px;
    border-style: outset;
}

.dropup .dropdown-menu {
    top: 45px;
    bottom: auto;
}

.dropup .btn-lg .caret {
    border-width: 5px 5px 0;
    border-top-style: solid;
}

.dropdown-menu.inner {
    max-height: 250px !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    margin: 0;
}

@keyframes STAR-MOVE {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 1200% 0%;
    }
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#mainContent {
    max-width: 1080px;
    margin-top: 70px;
    margin-bottom: 100px;
    min-height: 712.664px;
}


/*************  Footer   ***************/


/******************************************/


/******************************************/


/*************  Modal   ***************/

#footerpanel {
    z-index: -1
}

#footerpanel p.top-margin {
    margin-top: 10px
}

#footerpanel p span {
    color: white;
}

#footerpanel p a {
    color: white;
    text-decoration: none;
}


/******************************************/


/******************************************/

.left-row-input {
    margin: 6px 0;
    float: left;
}

.left-row-input input {
    width: 90%;
}

.right-row-input {
    margin: 6px 0;
    float: right;
}

.right-row-input input {
    width: 90%;
}

.middle-input {
    margin: 6px 0;
}

.middle-input {
    width: 95%;
}

#ImgUpLoad {
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal {
    z-index: 11;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 900px
}

.w3-closebtn {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit
}

.modal header {
    text-align: center;
    color: white;
    background-color: teal;
}

.modal footer {
    margin-top: 10px;
    color: white;
    background-color: teal;
}

#warning {
    background-color: red;
    border: none;
}

#warning h3,
#warning p {
    text-align: center;
    color: #fff;
}

#contact p {
    font-size: 1.5em;
}

#contact div.w3-half.info {
    padding-top: 7.5%;
}

#contact.w3-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#FAQModal i {
    color: teal;
}

#FAQModal div p {
    font-size: 1.6em;
    margin-top: 10px;
}

#FAQModal footer p {
    font-size: 1.2em;
}

#FAQModal h3 {
    margin-bottom: 30px;
}

#FAQModal header h3 {
    margin-bottom: 14px;
}

#FAQModal button {
    background-color: white;
    border: none;
    font-size: 1.7em;
    margin-bottom: 10px;
}

#FeedbackModal label {
    font-size: 1.4em;
}

#joinUsModal {
    padding-top: 5%;
}

#partnerModal {
    z-index: 99;
}

#partnerModal div.w3-modal-content img {
    width: 50%;
    position: absolute;
    left: 25%;
}

#joinUsModal footer,
#joinUsModal header {
    color: white;
    background-color: teal;
}