/*
    z-index structure:

    11: Modal
    10: Navbar
     9: Search Pannel

*/


/*************  GENERAL SETTING ***********/


/******************************************/


/******************************************/

body {
    /*for general body loading*/
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    background-color: #464646;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu.open {
    max-height: 300.462px;
    overflow: hidden;
    min-height: 127px;
}

.dropup .dropdown-menu {
    top: 45px;
    bottom: auto;
}

.dropup .btn-lg .caret {
    border-width: 5px 5px 0;
    border-top-style: solid;
}


/* Float the list items side by side */

ul li {
    float: left;
}


/* Style the links inside the list items */

ul li a {
    display: inline-block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 1em;
    color: #f2f2f2
}

ul li a:hover {
    text-decoration: none;
    color: white;
}


/*************  NAVIGATION BAR  ***********/


/******************************************/


/******************************************/

#Navbar {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
    /*height: 50px;*/
}

#Navbar ul li a {
    font-size: 1em;
    padding: 7px 12px;
}


/* Change font background color of links on hover */

.w3-btn {
    background-color: rgba(0, 0, 0, 0);
}

.w3-btn:hover {
    background-color: red;
}

ul.topnav li.icon {
    display: none;
}


/***************  Main Body  **************/


/******************************************/


/******************************************/

#MainBody {
    width: 40%;
    height: auto;
}

#search_panel {
    position: absolute;
    width: 100%;
    height: 32vh;
    margin-top: 30vh;
    padding-top: 4vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

#topnav-logo {
    margin-bottom: 0;
}

#search_panel h1 {
    color: white;
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: 1.5%;
    margin-top: 5px;
}

.bootstrap-select ul li {
    float: none;
}

#search_button {
    font-size: 24px;
    background-color: teal;
    margin-left: 20px;
}

#searchPanelIcon img {
    padding-bottom: 15px;
}

#partner {
    height: 500px;
    width: 400px;
}


/*************  FOOTER BAR  ***************/


/******************************************/


/******************************************/

#Footer {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    font-size: 1em;
}

#Footer img {
    margin: 0;
}

ul.footer li {
    display: inline-block;
}

ul.footer {
    margin-bottom: 0px;
    padding-right: 100px;
}

ul.footer li a {
    padding: 0 8px;
}

.partner-pane {
    float: right;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#zoomzone {
    position: absolute;
    z-index: 11;
    right: 0;
    bottom: 2.5rem;
}


/*************  Modal   ***************/


/******************************************/


/******************************************/

.left-row-input {
    margin: 6px 0;
    float: left;
}

.left-row-input input {
    width: 90%;
}

.right-row-input {
    margin: 6px 0;
    float: right;
}

.right-row-input input {
    width: 90%;
}

.middle-input {
    margin: 6px 0;
}

.middle-input {
    width: 95%;
}

#ImgUpLoad {
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal {
    z-index: 11;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 900px
}

.w3-closebtn {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit
}

.modal header {
    text-align: center;
    color: white;
    background-color: teal;
}

.modal footer {
    margin-top: 10px;
    color: white;
    background-color: teal;
}

#warning {
    background-color: red;
    border: none;
}

#warning h3,
#warning p {
    text-align: center;
    color: #fff;
}

#contact p {
    font-size: 1.5em;
}

#contact div.w3-half.info {
    padding-top: 7.5%;
}

#contact.w3-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#FAQModal i {
    color: teal;
}

#FAQModal button {
    background-color: white;
    border: none;
    font-size: 1.5em;
}

#joinUsModal {
    padding-top: 5%;
}

#partnerModal {
    z-index: 99;
}

#partnerModal div.w3-modal-content img {
    width: 50%;
    position: absolute;
    left: 25%;
}

#joinUsModal footer,
#joinUsModal header {
    color: white;
    background-color: teal;
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon)
@media screen and (orientation : landscape) and (max-width:768px) {
    #search_panel {padding-top:2vh}
    #search_panel h1{font-size:1.8em;}
} */

@media screen and (min-width:961px) {
    #Navbar ul li a {
        font-size: 1.5em;
        padding: 10px 14px;
    }
    #navbarlist {
        float: right;
    }
    #home_link {
        display: none
    }
}

@media screen and (min-width:681px) and (max-width:960px) {
    #Navbar ul li a {
        font-size: 2.0rem;
        padding: 10px 5px;
    }
    #navbarlogo img {
        width: 25%;
    }
    #navbarlist {
        float: right;
    }
    #home_link {
        display: none
    }
    .bootstrap-select {
        width: 50%!important;
    }
    #search_button {
        width: 20%;
    }
    #contact p {
        font-size: 1.3em;
    }
    #contact div.w3-half.info {
        padding-top: 13.5%;
    }
    #Footer {
        font-size: 1.0em;
    }
    ul.footer {
        margin-bottom: 0px;
        padding-right: 10px;
    }
    #FAQModal button {
        font-size: 1em;
    }
    .modal-content {
        width: 620px;
    }
    #search_panel h1 {
        margin-bottom: 9%;
    }
    #search_panel {
        height: 27vh;
    }
    ul.footer li a {
        padding: 0 7px;
    }
}

@media screen and (max-width:680px) {
    #Navbar ul li a {
        font-size: 1em;
        padding: 10px 14px;
    }
    #navbarlogo {
        display: none
    }
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    ul.topnav.responsive {
        position: relative;
        background: #1f1f1f;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    .bootstrap-select {
        width: 60%!important;
    }
    #search_button {
        width: 30%;
    }
    .modal header {
        text-align: center;
    }
    #Footer {
        font-size: 0.9em;
    }
    ul.footer {
        margin-bottom: 0px;
        padding-right: 10px;
    }
    #contact p {
        font-size: 1.2em;
    }
    #contact div.w3-half.info {
        padding-top: 13.5%;
        padding-left: 18%;
    }
    #FAQModal button {
        font-size: 0.9em;
    }
    .modal-content {
        margin: 0 10px;
        width: auto;
    }
    .modal {
        padding-top: 10vh
    }
    #search_panel h1 {
        margin-bottom: 7%;
    }
    #contact.w3-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #contact img {
        width: 60%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #joinUsModal {
        padding-top: 0;
    }
}


/*for phone*/

@media screen and (max-width:480px) {
    #search_panel {
        margin-top: 29vh;
    }
    #search_panel h1 {
        font-size: 3.0em;
        margin-bottom: 8%;
    }
    #search_button {
        font-size: 22px;
        width: 36%;
        margin-left: 0;
    }
    ul.footer {
        padding-right: 0;
    }
    ul.footer li a {
        font-size: 10.5px;
    }
    #copyright {
        padding-left: 18%;
    }
    #partner03 {
        padding-right: 12.5%;
    }
    .dropdown-menu.open {
        width: 162%;
        float: left;
    }
    #partnerModal div.w3-modal-content img {
        width: 75%;
        top: 90px;
        bottom: 0;
        left: 12%;
    }
}

@media screen and (max-width:375px) {
    #copyright {
        padding-left: 13%;
    }
    #partner03 {
        padding-right: 10.5%;
    }
}

@media screen and (max-width:320px) {
    #search_button {
        width: 32%;
        padding-left: 8px;
        padding-right: 24px;
    }
    #partner03 {
        padding-right: 1%;
    }
    #copyright {
        padding-left: 7%;
    }
    #search_panel h1 {
        font-size: 2em;
        margin-bottom: 10%;
    }
}


/* Responsive Height */

@media screen and (max-height: 860px) and (min-width: 1024px) {
    #search_panel {
        height: 35vh;
    }
    #partnerModal div.w3-modal-content img {
        width: 40%;
        left: 30%;
    }
    #search_panel h1 {
        margin-bottom: 1.8%;
    }
}

@media screen and (max-height: 726px) and (min-width: 1024px) {
    #search_panel {
        margin-top: 27vh;
        height: 38vh;
    }
    #partnerModal div.w3-modal-content img {
        width: 40%;
        left: 30%;
    }
}

@media screen and (max-height: 580px) and (min-width: 1024px) {
    #search_panel {
        margin-top: 23vh;
        height: 49vh;
    }
    #partnerModal div.w3-modal-content img {
        width: 30%;
        left: 39%;
    }
}