/*首页图片滚动*/

#gla {
    overflow: hidden;
    margin: auto;
    position: relative;
    height: 520px;
}

#gla_box {
    width: 500px;
    height: 480px;
    margin: auto;
}

.gla_inbox {
    overflow: hidden;
    position: relative;
}

.roundabout-holder {
    height: 400px;
    width: 500px;
}

.roundabout-moveable-item {
    display: block;
    height: 300px;
    width: 400px;
    ;
    cursor: pointer;
}

.roundabout-in-focus {
    cursor: auto;
}

#searchToolPanel {
    background-color: rgba(0, 0, 0, 0.7);
    height: 250px;
}

#footerpanel {
    background-color: rgba(0, 0, 0, 0.7);
}

#mainPage {
    overflow: hidden;
}

#downArrow {
    animation: jump 3s infinite forwards;
}

#Home_Icon {
    margin-top: 8px;
    margin-right: 6px
}

#Home_Search_Panel {
    margin-left: -16px;
    margin-right: -16px
}

#Footer {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    font-size: 1em;
}

#Footer img {
    margin: 0;
}

ul.footer {
    margin-bottom: 0px;
    padding-right: 100px;
}

ul.footer li {
    display: inline-block;
}

ul.footer li a {
    padding: 0 8px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #f2f2f2;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#zoomzone {
    position: absolute;
    z-index: 11;
    right: 0;
    bottom: 2.5rem;
}

#partner_icon {
    width: 50%;
    float: left;
}

#partner {
    width: 80%;
}

.partner-pane {
    float: right;
}

@media screen and (max-width:680px) {
    ul.footer {
        padding-right: 0;
    }
    ul.footer li a {
        font-size: 10.5px;
    }
    #copyright {
        padding-left: 11%;
    }
    #partner01 {
        padding-right: 30%;
    }
}