/*
    z-index structure:

    11: Modal
    10: Navbar
     9: Search Pannel

*/


/*************  GENERAL SETTING ***********/


/******************************************/


/******************************************/

body {
    /*for general body loading*/
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    background-color: #464646;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu.open {
    max-height: 300.462px;
    overflow: hidden;
    min-height: 127px;
}

.dropup .dropdown-menu {
    top: 45px;
    bottom: auto;
}

.dropup .btn-lg .caret {
    border-width: 5px 5px 0;
    border-top-style: solid;
}


/* Float the list items side by side */

ul li {
    float: left;
}


/* Style the links inside the list items */

ul li a {
    display: inline-block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 1em;
    color: #f2f2f2
}

ul li a:hover {
    text-decoration: none;
    color: white;
}


/*************  NAVIGATION BAR  ***********/


/******************************************/


/******************************************/

#Navbar {
    background-color: black;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
    /*height: 50px;*/
}

#Navbar ul li a {
    font-size: 1em;
    padding: 7px 12px;
}


/* Change font background color of links on hover */

.w3-btn:hover {
    background-color: red;
}

ul.topnav li.icon {
    display: none;
}


/***************  Main Body  **************/


/******************************************/


/******************************************/

#MainBody {
    width: 40%;
    height: auto;
}

#search_panel {
    position: absolute;
    width: 100%;
    height: 32vh;
    margin-top: 30vh;
    padding-top: 4vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

#topnav-logo {
    margin-bottom: 5px;
}

#search_panel h1 {
    color: white;
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: 1.5%;
    margin-top: 5px;
}

.bootstrap-select ul li {
    float: none;
}

#search_button {
    font-size: 24px;
    background-color: teal;
    margin-left: 20px;
}

#searchPanelIcon img {
    padding-bottom: 15px;
}

#partner {
    height: 600px;
    width: 600px;
}


/*************  FOOTER BAR  ***************/


/******************************************/


/******************************************/

#Footer {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    font-size: 1em;
}

#Footer img {
    margin: 0;
}

ul.footer li {
    display: inline-block;
}

ul.footer {
    margin-bottom: 0px;
    padding-right: 100px;
}

ul.footer li a {
    padding: 0 8px;
}

.partner-pane {
    float: right;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#zoomzone {
    position: absolute;
    z-index: 11;
    right: 0;
    bottom: 2.5rem;
}


/*************  Modal   ***************/


/******************************************/


/******************************************/

.left-row-input {
    margin: 6px 0;
    float: left;
}

.left-row-input input {
    width: 90%;
}

.right-row-input {
    margin: 6px 0;
    float: right;
}

.right-row-input input {
    width: 90%;
}

.middle-input {
    margin: 6px 0;
}

.middle-input {
    width: 95%;
}

#ImgUpLoad {
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal {
    z-index: 11;
    display: none;
    padding-top: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 900px
}

.w3-closebtn {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit
}

.modal header {
    text-align: center;
    color: white;
    background-color: teal;
}

.modal footer {
    margin-top: 10px;
    color: white;
    background-color: teal;
}

#warning {
    background-color: red;
    border: none;
}

#warning h3,
#warning p {
    text-align: center;
    color: #fff;
}

#contact p {
    font-size: 1.5em;
}

#contact div.w3-half.info {
    padding-top: 7.5%;
}

#FAQModal i {
    color: teal;
}

#FAQModal button {
    background-color: white;
    border: none;
    font-size: 1.5em;
}

#joinUsModal {
    padding-top: 50px;
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon)
@media screen and (orientation : landscape) and (max-width:768px) {
    #search_panel {padding-top:2vh}
    #search_panel h1{font-size:1.8em;}
} */

@media screen and (min-width:961px) {
    #Navbar ul li a {
        font-size: 1.5em;
        padding: 10px 14px;
    }
    #navbarlist {
        float: right;
    }
    #home_link {
        display: none
    }
}

@media screen and (min-width:681px) and (max-width:960px) {
    #Navbar ul li a {
        font-size: 1.5em;
        padding: 10px 14px;
    }
    #navbarlogo img {
        width: 25%;
    }
    #navbarlist {
        float: right;
    }
    #home_link {
        display: none
    }
    .bootstrap-select {
        width: 50%!important;
    }
    #search_button {
        width: 20%;
    }
    #contact p {
        font-size: 1.3em;
    }
    #contact div.w3-half.info {
        padding-top: 13.5%;
    }
    #Footer {
        font-size: 1.0em;
    }
    ul.footer {
        margin-bottom: 0px;
        padding-right: 10px;
    }
    #FAQModal button {
        font-size: 1em;
    }
    .modal-content {
        width: 620px;
    }
    #Navbar {
        height: 45px;
    }
    #search_panel h1 {
        margin-bottom: 4%;
    }
}

@media screen and (max-width:680px) {
    #Navbar ul li a {
        font-size: 1em;
        padding: 10px 14px;
    }
    #navbarlogo {
        display: none
    }
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    .bootstrap-select {
        width: 60%!important;
    }
    #search_button {
        width: 30%;
    }
    .modal header {
        text-align: center;
    }
    #Footer {
        font-size: 0.9em;
    }
    ul.footer {
        margin-bottom: 0px;
        padding-right: 10px;
    }
    #contact p {
        font-size: 1.2em;
    }
    #contact div.w3-half.info {
        padding-top: 13.5%;
        padding-left: 18%;
    }
    #FAQModal button {
        font-size: 0.9em;
    }
    .modal-content {
        margin: 0 10px;
        width: auto!important
    }
    .modal {
        padding-top: 10vh
    }
    #search_panel h1 {
        margin-bottom: 7%;
    }
}


/*for phone*/

@media screen and (max-width:480px) {
    #search_panel h1 {
        font-size: 3.0em;
        margin-bottom: 8%;
    }
    #search_button {
        font-size: 22px;
        width: 36%;
        margin-left: 0;
    }
    ul.footer {
        padding-right: 0;
    }
    ul.footer li a {
        font-size: 10.5px;
    }
    #copyright {
        padding-left: 11%;
    }
    #partner02 {
        padding-right: 30%;
    }
    .dropdown-menu.open {
        width: 162%;
        float: left;
    }
}